{
  "tabWidth": 2,
  "printWidth": 127,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "importOrder": ["^react", "^", "^@/", "^[./]"],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["classProperties", "jsx", "tsx"]
}