.navigation {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding        : 0 10px;
  height         : 80px;

  .nav-logo-container {
    // height: 100%;

    .nav-logo {
      // width: 70px;
    }
  }

  .nav-links-container {
    display    : flex;
    align-items: center;

    .nav-link {
      padding-left: 20px;
      cursor      : pointer;
    }
  }
}